.admin {
  /* display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-double); */
  padding: 0 5vw;
}

.admin main {
  margin-bottom: var(--spacing-thin);
}
.messageRetourAction {
  margin-bottom: 10px;
}
.admin aside {
  display: flex;
  padding: var(--spacing-double) 0;
  justify-content: space-between;
}
.admin section {
  padding: 0;
}
.admin-bienvenue {
  flex-basis: 20ch;
}
.admin ul {
  border-bottom: 1px solid;
  text-align: right;
  width: max-content;
}
.admin li {
  padding: 30px;
}
.confirmer {
  cursor: pointer;
}
tbody a:hover, tbody span:hover, .admin li a:hover {
  color: var(--color-red);
}
.admin-form{
  max-width: 50%;
  margin: auto;
}

/* BOUTONS */
.button {
	padding: 10px;
	border-radius: 8px;
	color: var(--color-white) !important;
	background-color: var(--color-royal-blue);
	border: 2px solid var(--color-white);
	font-size: 1rem;
}

.button:hover {
	cursor: pointer;
	color: var(--color-royal-blue) !important;
	background-color: inherit;
	border: 2px solid var(--color-royal-blue);
}


/* TABLE */
table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 400px;
  max-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: var(--color-light-blue);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table tbody tr {
  border-bottom: 1px solid var(--color-royal-blue);
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-royal-blue);
}

.admin form {
  padding-top: 1rem;
}

.admin input[type='submit'] {
  margin-top: 1rem;
}

.admin-tableau-enchere img {
  max-width: 100px;
  max-height: 100px;
}