.admin {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-double);
  padding: 0 5vw;
}
.messageRetourAction {
  margin-bottom: 10px;
}
.admin aside {
  flex-grow: 0;
  flex-basis: 15ch;
  padding: var(--spacing-double) 0;
}
.admin > main {
  flex-grow: 5;
  flex-basis: 80ch;
}
.admin ul {
  padding-top: var(--gap);
}
.admin li {
  display: block;
  padding-top: var(--spacing-thin);
}
.confirmer {
  cursor: pointer;
}
tbody a:hover, tbody span:hover, .admin li a:hover {
  color: var(--color-red);
}

/* BOUTONS */
.button {
	padding: 10px;
	border-radius: 8px;
	color: var(--color-white) !important;
	background-color: var(--color-royal-blue);
	border: 2px solid var(--color-white);
	font-size: 1rem;
}

.button:hover {
	cursor: pointer;
	color: var(--color-royal-blue) !important;
	background-color: inherit;
	border: 2px solid var(--color-royal-blue);
}


/* TABLE */
table {
  border-collapse: collapse;
  font-size: 0.9em;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: var(--color-light-blue);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: var(--spacing-thin);
  text-align: left;
}

table tbody tr {
  border-bottom: 1px solid var(--color-royal-blue);
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid var(--color-royal-blue);
}

.admin form {
  padding-top: 1rem;
}

.admin input[type='submit'] {
  margin-top: 1rem;
}

.admin-tableau-enchere img {
  max-width: 100px;
  max-height: 100px;
}