.cache {
  display: none;
}
#connecter, #creerCompte {
  cursor: pointer;
}
#utilisateur {
  color: #fff;
}
p.legende {
  margin: 5px 0;
  text-align: center;
}
div.info {
  width: 450px;
}
div.info p {
  margin: 0 0 16px 0;
  line-height: 1.5;
}
div.info li {
  line-height: 1.5; 
}
div.info li span {
  display: inline-block;
  padding-top: 10px; 
}
div.info li span:first-of-type {
  width: 100px;
  text-align: right;
}
div.info li span:last-of-type {
  padding-left: 10px;
  vertical-align: top;
}