@media screen and (max-width: 935px) {
	nav {
		justify-content: center;
	}

	.nav-logo {
		flex-grow: 0;
	}

	.nav-burger{
        display: block; 
		width: fit-content;
		position: absolute;
		right: var(--gap);
		top: var(--spacing-double);
    }

    .nav-wrapper{
		width: 100%;
		position: absolute;
		top: 8rem;
		margin-top: -5px;
		transform: translateY(-890px);
		transition: transform 260ms ease-in-out;
		background-color: white;
		z-index: 1;
		gap: 0;
		padding: 0;
    }

	.nav-top {
		border-bottom: 1px solid #eee;
		display: flex;
		justify-content: center;
	}

	.nav-main {
		margin:0;
		display: block;
	}

    .nav-toggle:checked ~ .nav-wrapper{
		transform: translateY(0);
    }

    .nav-main a{
        display: flex;
        justify-content: center;
        padding: 0.5em 0;
        width: 100%;
		border-bottom: 1px solid #eee;
    }

	.nav-main-dropdown {
		position: initial;
	}
	.nav-main-dropdown:hover .nav-main-dropdown-content {
		position: initial;
	}

	.nav-main-dropdown-content {
		width: 100%;
		max-width: 100%;
		font-size: inherit;
		padding: 0;
	}

	/* ADMIN */

	.admin aside {
		flex-direction: column;
		text-align: center;
	}

	.admin-bienvenue {
		flex-basis: 0;
		padding-bottom: var(--spacing-thin);
	}

	.admin ul {
		border: 0;
		margin: auto;
	}

	.admin li {
		padding: var(--spacing-thin);
		border-bottom: 1px solid;
		display: block;
		text-align: center;
	}

	.admin section {
		padding-left: 0;
		margin-bottom: var(--spacing-thin);
	}

	.admin-form{
		max-width: 80%;
	  }

	/* TABLE */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding: 5px 0 5px 40% !important; 
	}

	td:before { 
		position: absolute;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		content: attr(data-colonne);
		font-weight: 800;
	}
}