.herobanner {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 35vh;
	color: var(--color-white);
	background-color: rgba(0,0,0,0.50);
}

.herobanner img {
	position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
	z-index: -1;
}

.herobanner-text {
	position: relative;
    padding: var(--spacing-double) var(--gap);
}

.herobanner-text > *+* {
	margin-top: var(--gap);
}

.herobanner p {
	font-size: 1.2rem;
}

.herobanner-searchbar {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.herobanner-searchbar > input {
	flex: 200px 10;
}

.herobanner-searchbar > div {
	flex: 160px 1 0;
}

.herobanner-searchbar > svg {
	flex: 1;
}

.herobanner-searchbar svg {
	position: absolute;
	right: 35px;
	bottom: 57px;
	cursor: pointer;
}

.herobanner-searchbar button {
	padding: 0;
	width: 0;
	margin: 0;
	border: 0;
}