<script type="module">
	document.querySelectorAll(".avecOeil span").forEach(eSpan => {
eSpan.onclick = function () {
let eInput = eSpan.previousElementSibling;
eInput.type = eInput.type == 'password' ? 'text' : 'password';
this.classList.toggle('oeil');
this.classList.toggle('oeilbarre');
};
});
</script>

<dialog id="modaleCreerCompte">
	<section>
		<h1>Créer un compte</h1>

		<form id="frmCreerCompte" name="frmCreerCompte" method="POST">

			<span id="messageErreurCreerCompte"></span>

			<label>Nom</label>
			<input name="utilisateur_nom" value="">
			<span id="err_utilisateur_nom"></span>

			<label>Prénom</label>
			<input name="utilisateur_prenom" value="">
			<span id="err_utilisateur_prenom"></span>

			<label>Courriel</label>
			<input name="utilisateur_courriel" value="">
			<span id="err_utilisateur_courriel"></span>

			<label>Mot de passe</label>
			<div class="avecOeil">
				<input type="password" name="nouveau_mdp" value="">
				<span class="oeil"></span>
			</div>
			<span id="err_nouveau_mdp"></span>

			<label>Confirmez le mot de passe</label>
			<div class="avecOeil">
				<input type="password" name="nouveau_mdp_bis" value="">
				<span class="oeil"></span>
			</div>
			<span id="err_nouveau_mdp_bis"></span>

			<input type="submit" value="Envoyer">

		</form>
	</section>
</dialog>
